*, *::after, *::before{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, #54d954, #d9d9d9, #54c654);
}

.container-grid {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto) repeat(6, 70px);
}

.output {
    border-radius: 10px 10px 0 0;
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 80);
    color: rgb(210, 210, 210);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
}

.container-grid > button {
    border: none;
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.container-grid > button:hover {
    background-color: rgb(209, 206, 206);
    color: black;
}

.span-two {
    grid-column: span 2;
}

.header, .footer {
    text-align: center;
}